body {color: #494949!important;}
#alert {
    margin-right: auto;
    margin-left: auto;
    background: #fafbfb!important;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px 8px #383838;
}
#head {
    font-size: 20px;
    font-weight: bold;
}
#content {
    font-size: 14px;
    text-align: center;
}
#overlay {
    display: none;
    background: rgba(0, 0, 0, 0.70);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#little {
    display: none;
    background: #fafbfb;
    position: absolute;
    border: solid 1px #e8e8e8;
    border-radius: 4px;
    padding: 15px;
}
#little #title {
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
}
#little #text {
    font-weight: 500;
    font-size: 14px;
}
.top-right {
    top: 20px!important;
    right: 0!important;
}
.top-left {
    top: 20px!important;
    left: 5px!important;
}
.bottom-left {
    bottom: 20px!important;
    left: auto!important;
    top: auto!important;
}
.bottom-right {
    bottom: 20px!important;
    right: 0!important;
    top: auto!important;
}
@media screen and (max-width:900px){

    #little{
        top: 10px;
        width: calc(100% - 40px);
        right: 20px;
        left: 20px;
    }

    .top-right {
        top: 20px!important;
        right: 0!important;
    }
    .top-left {
        top: 20px!important;
        left: auto!important;
    }
    .bottom-left {
        bottom: 20px!important;
        left: auto!important;
        top: auto!important;
    }
    .bottom-right {
        bottom: 20px!important;
        right: 0!important;
        top: auto!important;
    }

}