#alert {
    margin-right: auto;
    margin-left: auto;
    background: #fafbfb!important;
}
#head {
    font-size: 20px;
    font-weight: bold;
}
#content {
    font-size: 14px;
    text-align: center;
}
#overlay {
    display: none;
    background: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}