body {color: #494949!important;}
#alert {
    margin-right: auto;
    margin-left: auto;
    background: #fafbfb!important;
}
#head {
    font-size: 20px;
    font-weight: bold;
}
#content {
    font-size: 14px;
    text-align: center;
}
#overlay {
    display: none;
    background: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#little {
    display: none;
    background: #fafbfb;
    position: absolute;
    top: 20px;
    right: 0;
    box-shadow: 1px 1px 20px 12px #ececec;
    border-radius: 4px;
    padding: 15px;
}
#little #title {
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
}
#little #text {
    font-weight: 500;
    font-size: 14px;
}
@media screen and (max-width:900px){

    #little{
        top: 10px;
        width: calc(100% - 40px);
        right: 20px;
        left: 20px;
    }

}